<section>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-6">
        <form class="row g-3" [formGroup]="form" (submit)="onSubmitform()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" formControlName="name">
          <div *ngIf="(f['name'].touched || f['name'].touched) && f['name'].errors" class="text-danger">
            <small *ngIf="f['name'].errors?.['required']">Name is required</small>
          </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Enter email" formControlName="email">
            <div *ngIf="(f['email'].touched || f['email'].touched) && f['email'].errors" class="text-danger">
              <small *ngIf="f['email'].errors?.['required']">Email is required</small>
              <small *ngIf="f['email'].errors?.['email']">Enter a valid email</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Phone</label>
            <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="Enter a phone number" formControlName="phone">
            <div *ngIf="(f['phone'].touched || f['phone'].touched) && f['phone'].errors" class="text-danger">
              <small *ngIf="f['phone'].errors?.['required']">Phone number is required</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Amount</label>
            <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="Enter a amount" formControlName="amount">
            <div *ngIf="(f['amount'].touched || f['amount'].touched) && f['amount'].errors" class="text-danger">
              <small *ngIf="f['amount'].errors?.['required']">Amount is required</small>
            </div>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
          </div>

          </form>
      </div>
      <div class="col-md-6 my-4">
        <table class="table">
          <thead class="bg-light table-hover table-bordered table-responsive">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details; let i = index;">
              <th scope="row">{{i+1}}</th>
              <td>{{detail.name}}</td>
              <td>{{detail.email}}</td>
              <td>{{detail.amount}}</td>
            </tr>
           
             
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</section>